@model List<DayCounterService.User>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>List</title>
</head>
<body>
		<ul>
    @foreach (var user in Model)
    {
        <li>@user.Name</li>
    }
</ul>
</body>
</html>

